 <%= render 'shared/form_errors', :object => u.object %>
<div><%= u.label :name%></div>
<div><%= u.text_field :name%></div>
<div><%= u.label :email%></div>
<div><%= u.text_field :email%></div>
<div><%= u.label :password%></div>
<div><%= u.password_field :password%></div>
<div><%= u.label :password_confirmation, :content => "Repeat" %></div>
<div><%= u.password_field :password_confirmation %></div>

