<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'microposts/form'  %>
	  <% unless @user.microposts.empty? %>
	       <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= link_to @user.name, @user %><br />
      <strong>Microposts</strong><% if @user.microposts.empty?  %>not yet<% else %> <%= @user.microposts.count %>  <% end %>
    </td>
  </tr>
</table>